<div class="container">
  <h1><%= @post.title%></h1>
  <p>Post id: <%= @post.id%></p>
  <p>Title: <%= @post.title%></p>
  <p>Category: <%= @post.category.name%></p>
  <p>Description: <%= @post.description%></p>
  <p>Price: <%= @post.price%></p>
  <p>Contact: <%= @post.email%></p>
  <br><br>
  <a href="/">Back to Homepage</a>
</div>

